.App {
  text-align: center;
}

#addBookForm,
#editBookForm {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 4px;
  height: 25px;
  margin: 10px;
  height: 50px;
}

button {
  padding: 10px;
}